.header {
  &_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f4;
    padding: 15px 0;
  }
  &_link {
    color: #2F3035;
    text-decoration: none;
    @media (min-width: 991px) {
      &:hover {
        text-shadow: 0 0 .65px, 0 0 .65px;
      }
    }
  }
}

