// font-weight:100 / Thin
// font-weight:200 / Extra
// font-weight:300 / Light
// font-weight:400 / Normal
// font-weight:500 / Medium
// font-weight:600 / Semi Bold
// font-weight:700 / Bold
// font-weight:800 / Extra Bold
// font-weight:900 / Black

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay-Semibold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SFPro";
  src: url("./SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("ProximaNovaCond-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Barlow";
  src: url("Barlow-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Staatliches";
  src: url("Staatliches-Regular.woff2") format("woff2");
  font-weight: 400;
}
