.advert_footer {
    font-size: 18px;
    background: #F0F0F4;
    align-self: stretch;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}
