.swiper {
  &_wrapper {
    max-width: 870px;
    cursor: pointer;
  }
}
.swiper-button-prev, .swiper-button-next {
  color: #FFFFFF;
}
.swiper-pagination-bullet-active {
  color: #FFFFFF;
}
.swiper-pagination-bullet {
  color: transparent;
  border: 1px solid #FFFFFF;
}
.swiper-pagination {
  bottom: 40px;
}