.advert {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
    &_price {
        display: flex;
        flex-direction: column;
    }
  }
